{% if site.logo %}
<img class="logo" src="{{ site.logo | relative_url }}" alt="Logo">
{% endif %}

<h1>{{ site.title | default: site.github.repository_name }}</h1>
<!-- {% if site.blank_title %}
{% else %}
{% endif %} -->

{% if site.email %}
<p class="addr"><i class="fa-solid fa-envelope"></i>&nbsp;<a href="mailto:{{site.email}}">{{ site.email }}</a></p>
{% endif %}

<p class="print-only header-links">
  {% for platform in site.platforms %}
    <strong>{{ platform.name }}:</strong> {{ platform.link }}{% unless forloop.last %} {% endunless %}
  {% endfor %}
</p>